<app-base [title]="'LINHAS'">
  <ng-container *ngFor="let route of routes$ | async">
    <a
      [routerLink]="[route.route_id, 'stops']"
      [ngStyle]="{ 'border-color': '#' + route.route_color }"
      class="flex items-center justify-between gap-6 p-4 bg-base-200 rounded border-t-4 border-opacity-100"
    >
      <div class="flex flex-col">
        <h3 class="font-bold">Linha {{ route.route_short_name }}</h3>
        <span>{{ route.route_short_name | routes }}</span>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
    </a>
  </ng-container>
</app-base>
<router-outlet></router-outlet>
