<app-header [title]="'PROCURAR PARAGEM'"></app-header>
<div class="flex flex-col">
  <label class="input input-bordered flex items-center gap-2 m-2">
    <input
      [formControl]="searchStop"
      type="text"
      class="grow"
      placeholder="Search"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70"
    >
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd"
      />
    </svg>
  </label>
  <ng-container *ngIf="stops$ | async as stops">
    <div class="flex flex-col">
      <ng-container *ngFor="let stop of stops">
        <a
          [routerLink]="['/stops', stop.stop_id, 'nextArrivals']"
          class="flex items-center justify-between gap-6 p-4 bg-base-200 rounded border-t-4 border-opacity-100"
        >
          <div class="flex flex-col">
            <h3 class="font-bold">{{ stop.stop_name }}</h3>
            <span>{{ stop.zone_id }}</span>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </a>
      </ng-container>
    </div>
  </ng-container>
</div>
