<div class="flex flex-col min-h-screen">
  <ng-container *ngIf="isOnline$ | async">
    <!-- Content container -->
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="(isOnline$ | async) === false">
    <div class="flex-grow flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-2xl font-bold">Sem ligação à internet</h1>
        <p class="text-gray-500">
          Por favor, verifique a sua ligação à internet e tente novamente.
        </p>
      </div>
    </div>
  </ng-container>
  <!-- Fixed Bottom Navigation -->
  <div class="btm-nav">
    <button [routerLink]="'/routes'" [routerLinkActive]="'active'">
      <span class="btm-nav-label">Linhas</span>
    </button>
    <button [routerLink]="'/favorites'" [routerLinkActive]="'active'">
      <span class="btm-nav-label">Favoritos</span>
    </button>
    <button [routerLink]="'/search'" [routerLinkActive]="'active'">
      <span class="btm-nav-label">Procurar<br />Paragem</span>
    </button>
  </div>
</div>
